<div class="content-container">
  <mat-card>
    <mat-toolbar color="accent" class="mat-toolbar-content source-code-panel">
      <span>{{ sourceCodePanelTitle }}</span>
    </mat-toolbar>
    <mat-card-content>
      <router-outlet name="sourceCodeOutlet"></router-outlet>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-toolbar color="accent" class="mat-toolbar-content code-execution-panel">
      <span>{{ codeExecutionPanelTitle }}</span>
    </mat-toolbar>
    <mat-card-content>
      <router-outlet name="codeExecutionOutlet"></router-outlet>
    </mat-card-content>
  </mat-card>
</div>
