<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">{{ title }}</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #sidenav
      opened
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <rmp-sidebar-content></rmp-sidebar-content>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <router-outlet #homeOutlet="outlet"></router-outlet>
      <ng-container *ngIf="!homeOutlet.isActivated">
        <rmp-content-container></rmp-content-container>
      </ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
