<mat-nav-list>
  <mat-accordion>
    <ng-container *ngFor="let item of menuItems$ | async">
      <ng-container
        *ngTemplateOutlet="
          item.children ? hasChildren : noChildren;
          context: { item: item, isExpanded: true, textStyle: 'bold' }
        "
      >
      </ng-container>
    </ng-container>
  </mat-accordion>
</mat-nav-list>

<ng-template
  #hasChildren
  let-item="item"
  let-parentRoute="parentRoute || ''"
  let-isExpanded="isExpanded"
  let-textStyle="textStyle"
>
  <mat-expansion-panel [expanded]="isExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span [ngStyle]="{ 'font-weight': textStyle }">{{
          item.displayName
        }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
      <ng-container *ngFor="let subitem of item.children">
        <ng-container
          *ngTemplateOutlet="
            subitem.children ? hasChildren : noChildren;
            context: {
              item: subitem,
              parentRoute: parentRoute + '' + item.route
            }
          "
        >
        </ng-container>
      </ng-container>
    </mat-accordion>
  </mat-expansion-panel>
</ng-template>

<ng-template
  #noChildren
  let-item="item"
  let-parentRoute="parentRoute || ''"
  let-textStyle="textStyle"
>
  <a mat-list-item routerLink="{{ parentRoute }}{{ item.route }}">
    <span [ngStyle]="{ 'font-weight': textStyle }">{{ item.displayName }}</span>
  </a>
</ng-template>
