<mat-nav-list>
  <mat-accordion>
    <ng-container *ngFor="let item of menuItems$ | async; index as i">
      <ng-container
        *ngTemplateOutlet="
          item.children ? hasChildren : noChildren;
          context: { item: item, index: i }
        "
      >
      </ng-container>
    </ng-container>
  </mat-accordion>
</mat-nav-list>

<ng-template
  #hasChildren
  let-item="item"
  let-parentRoute="parentRoute || ''"
  let-index="index"
>
  <mat-expansion-panel
    [expanded]="index ? isMenuExpanded(index) : null"
    (opened)="index ? setMenuExpanded(index) : null"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ item.displayName }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
      <ng-container *ngFor="let subitem of item.children; index as i">
        <ng-container
          *ngTemplateOutlet="
            subitem.children ? hasChildren : noChildren;
            context: {
              item: subitem,
              parentRoute: parentRoute + '' + item.route
            }
          "
        >
        </ng-container>
      </ng-container>
    </mat-accordion>
  </mat-expansion-panel>
</ng-template>

<ng-template
  #noChildren
  let-item="item"
  let-parentRoute="parentRoute || ''"
  let-index="index"
>
  <a
    mat-list-item
    routerLink="{{ parentRoute }}{{ item.route }}"
    (click)="!parentRoute ? setMenuExpanded(index) : null"
  >
    {{ item.displayName }}
  </a>
</ng-template>
